pip install mysql-connector-python

In [1]:
import os
import json
from IPython.display import JSON,display
import pandas as pd
import mysql.connector as mysql

# Aggregated Transactions

In [2]:
path = 'C:/Users/kisho/PhonePe/pulse/data/aggregated/transaction/country/india/state/'
agg_states_list = os.listdir(path)

for state in agg_states_list:
    current_state = path+state+'/'
    agg_years_list = os.listdir(current_state)
    
    for year in agg_years_list:
        curr_year = current_state+year+'/'
        agg_files = os.listdir(curr_year)

        for file in agg_files:
            curr_file = curr_year+file
            d = open(curr_file,'r')
            P = json.load(d)
            break
        break
    break
JSON(P)

In [3]:
path = 'C:/Users/kisho/PhonePe/pulse/data/aggregated/transaction/country/india/state/'
agg_states_list = os.listdir(path)

columns = {'State':[],'Year':[],'Quarter':[],'Transaction_Type':[],'Transactions_Count':[],'Transactions_Amount':[]}

for state in agg_states_list:
    current_state = path+state+'/'
    agg_years_list = os.listdir(current_state)
    
    for year in agg_years_list:
        curr_year = current_state+year+'/'
        agg_files = os.listdir(curr_year)

        for file in agg_files:
            curr_file = curr_year+file
            d = open(curr_file,'r')
            P = json.load(d)
            for i in P['data']['transactionData']:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                
                columns['Transaction_Type'].append(name)
                columns['Transactions_Count'].append(count)
                columns['Transactions_Amount'].append(amount)
                columns['Quarter'].append(int(file.strip('.json')))
                columns['Year'].append(int(year))
                columns['State'].append(state)
agg_trans = pd.DataFrame(columns)

In [4]:
agg_trans

,State,Year,Quarter,Transaction_Type,Transactions_Count,Transactions_Amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
3949,west-bengal,2023,2,Merchant payments,245111000,1.767046e+11
3950,west-bengal,2023,2,Peer-to-peer payments,240347041,7.970548e+11
3951,west-bengal,2023,2,Recharge & bill payments,58950434,3.478924e+10
3952,west-bengal,2023,2,Financial Services,327537,3.174670e+08
3953,west-bengal,2023,2,Others,581674,4.489893e+08

# Aggregated Users

In [5]:
path = 'C:/Users/kisho/PhonePe/pulse/data/aggregated/user/country/india/state/'
agg_states_list = os.listdir(path)

for state in agg_states_list:
    cur_state = path+state+'/'
    agg_years_list = os.listdir(cur_state)
    
    for year in agg_years_list:
        cur_year = cur_state+year+'/'
        agg_files = os.listdir(cur_year)
        
        for file in agg_files:
            cur_file = cur_year+file
            d = open(cur_file,'r')
            P = json.load(d)
            break
        break
    break
JSON(P)

In [6]:
path = 'C:/Users/kisho/PhonePe/pulse/data/aggregated/user/country/india/state/'
agg_states_list = os.listdir(path)

columns = {'State':[],'Year':[],'Quarter':[],'Brand':[],'Users_Count':[],'Percentage':[]}

for state in agg_states_list:
    cur_state = path+state+'/'
    agg_years_list = os.listdir(cur_state)
    
    for year in agg_years_list:
        cur_year = cur_state+year+'/'
        agg_files = os.listdir(cur_year)
        
        for file in agg_files:
            cur_file = cur_year+file
            d = open(cur_file,'r')
            P = json.load(d)
            try:
                for i in P['data']['usersByDevice']:
                    brand = i['brand']
                    count = i['count']
                    percentage = i['percentage']

                    columns['Brand'].append(brand)
                    columns['Users_Count'].append(count)
                    columns['Percentage'].append(percentage)
                    columns['Quarter'].append(int(file.strip('.json')))
                    columns['Year'].append(int(year))
                    columns['State'].append(state)
            except:
                pass
agg_users = pd.DataFrame(columns)

In [7]:
agg_users

,State,Year,Quarter,Brand,Users_Count,Percentage
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056
6728,west-bengal,2022,1,Infinix,284678,0.012987
6729,west-bengal,2022,1,Asus,280347,0.012790
6730,west-bengal,2022,1,Apple,277752,0.012671
6731,west-bengal,2022,1,Others,2196334,0.100199

# Map transactions

In [8]:
path = 'C:/Users/kisho/PhonePe/pulse/data/map/transaction/hover/country/india/state/'
agg_states_list = os.listdir(path)

for state in agg_states_list:
    cur_state = path+state+'/'
    agg_years_list = os.listdir(cur_state)
    
    for year in agg_years_list:
        cur_year = cur_state+year+'/'
        agg_files = os.listdir(cur_year)
        
        for file in agg_files:
            cur_file = cur_year+file
            d = open(cur_file,'r')
            P = json.load(d)
            break
        break
    break
JSON(P)

In [9]:
path = 'C:/Users/kisho/PhonePe/pulse/data/map/transaction/hover/country/india/state/'
agg_states_list = os.listdir(path)

columns = {'State':[],'Year':[],'Quarter':[],'District':[],'Transactions_Count':[],'Transactions_Amount':[]}

for state in agg_states_list:
    cur_state = path+state+'/'
    agg_years_list = os.listdir(cur_state)
    
    for year in agg_years_list:
        cur_year = cur_state+year+'/'
        agg_files = os.listdir(cur_year)
        
        for file in agg_files:
            cur_file = cur_year+file
            d = open(cur_file,'r')
            P = json.load(d)
            
            for i in P['data']['hoverDataList']:
                district = i['name']
                count = i['metric'][0]['count']
                amount = i['metric'][0]['amount']
                
                columns['District'].append(district)
                columns['Transactions_Count'].append(count)
                columns['Transactions_Amount'].append(amount)
                columns['Quarter'].append(int(file.strip('.json')))
                columns['Year'].append(int(year))
                columns['State'].append(state)
map_trans = pd.DataFrame(columns)

In [10]:
map_trans

,State,Year,Quarter,District,Transactions_Count,Transactions_Amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16095,west-bengal,2023,2,nadia district,26194658,5.410386e+10
16096,west-bengal,2023,2,birbhum district,14912523,2.941312e+10
16097,west-bengal,2023,2,purba medinipur district,30724502,6.595899e+10
16098,west-bengal,2023,2,maldah district,24677357,5.218621e+10
16099,west-bengal,2023,2,darjiling district,13049366,2.372866e+10

# Map Users

In [11]:
path = 'C:/Users/kisho/PhonePe/pulse/data/map/user/hover/country/india/state/'
agg_states_list = os.listdir(path)

for state in agg_states_list:
    cur_state = path+state+'/'
    agg_years_list = os.listdir(cur_state)
    
    for year in agg_years_list:
        cur_year = cur_state+year+'/'
        agg_files = os.listdir(cur_year)
        
        for file in agg_files:
            cur_file = cur_year+file
            d = open(cur_file,'r')
            P = json.load(d)
            break
        break
    break
JSON(P)

In [12]:
path = 'C:/Users/kisho/PhonePe/pulse/data/map/user/hover/country/india/state/'
agg_states_list = os.listdir(path)

columns = {'State':[],'Year':[],'Quarter':[],'District':[],'Registered_Users':[],'App_Opens':[]}

for state in agg_states_list:
    cur_state = path+state+'/'
    agg_years_list = os.listdir(cur_state)
    
    for year in agg_years_list:
        cur_year = cur_state+year+'/'
        agg_files = os.listdir(cur_year)
        
        for file in agg_files:
            cur_file = cur_year+file
            d = open(cur_file,'r')
            P = json.load(d)
            
            for i in P['data']['hoverData'].items():
                district = i[0]
                registeredUsers = i[1]['registeredUsers']
                appOpens = i[1]['appOpens']
                
                columns['District'].append(district)
                columns['Registered_Users'].append(registeredUsers)
                columns['App_Opens'].append(appOpens)
                columns['Quarter'].append(int(file.strip('.json')))
                columns['Year'].append(int(year))
                columns['State'].append(state)                
map_users = pd.DataFrame(columns)

In [13]:
map_users

,State,Year,Quarter,District,Registered_Users,App_Opens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16099,west-bengal,2023,2,nadia district,1482400,9509833
16100,west-bengal,2023,2,birbhum district,934943,12789154
16101,west-bengal,2023,2,purba medinipur district,1468608,12096564
16102,west-bengal,2023,2,maldah district,1046132,17662446
16103,west-bengal,2023,2,darjiling district,613398,15141713

# Top Transactions

In [14]:
path = 'C:/Users/kisho/PhonePe/pulse/data/top/transaction/country/india/state/'
agg_states_list = os.listdir(path)

for state in agg_states_list:
    current_state = path+state+'/'
    agg_years_list = os.listdir(current_state)
    
    for year in agg_years_list:
        curr_year = current_state+year+'/'
        agg_files = os.listdir(curr_year)

        for file in agg_files:
            curr_file = curr_year+file
            d = open(curr_file,'r')
            P = json.load(d)
            break
        break
    break
JSON(P)

In [15]:
path = 'C:/Users/kisho/PhonePe/pulse/data/top/transaction/country/india/state/'
agg_states_list = os.listdir(path)

columns = {'State':[],'Year':[],'Quarter':[],'Pincode':[],'Transactions_Count':[],'Transactions_Amount':[]}

for state in agg_states_list:
    current_state = path+state+'/'
    agg_years_list = os.listdir(current_state)
    
    for year in agg_years_list:
        curr_year = current_state+year+'/'
        agg_files = os.listdir(curr_year)

        for file in agg_files:
            curr_file = curr_year+file
            d = open(curr_file,'r')
            P = json.load(d)
            for i in P['data']['pincodes']:
                pincode = i['entityName']
                count = i['metric']['count']
                amount = i['metric']['amount']
                
                columns['Pincode'].append(pincode)
                columns['Transactions_Count'].append(count)
                columns['Transactions_Amount'].append(amount)
                columns['Quarter'].append(int(file.strip('.json')))
                columns['Year'].append(int(year))
                columns['State'].append(state)
top_trans = pd.DataFrame(columns)

In [16]:
top_trans

,State,Year,Quarter,Pincode,Transactions_Count,Transactions_Amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
7848,west-bengal,2023,2,700001,2918444,6.259877e+09
7849,west-bengal,2023,2,721301,2910870,4.458107e+09
7850,west-bengal,2023,2,700039,2886562,4.662887e+09
7851,west-bengal,2023,2,700015,2774383,4.372975e+09
7852,west-bengal,2023,2,700014,2757479,5.108638e+09

# Top  Users

In [17]:
path = 'C:/Users/kisho/PhonePe/pulse/data/top/user/country/india/state/'
agg_states_list = os.listdir(path)

for state in agg_states_list:
    cur_state = path+state+'/'
    agg_years_list = os.listdir(cur_state)
    
    for year in agg_years_list:
        cur_year = cur_state+year+'/'
        agg_files = os.listdir(cur_year)
        
        for file in agg_files:
            cur_file = cur_year+file
            d = open(cur_file,'r')
            P = json.load(d)
JSON(P)

In [18]:
path = 'C:/Users/kisho/PhonePe/pulse/data/top/user/country/india/state/'
agg_states_list = os.listdir(path)

columns = {'State':[],'Year':[],'Quarter':[],'Pincode':[],'Registered_Users':[]}

for state in agg_states_list:
    cur_state = path+state+'/'
    agg_years_list = os.listdir(cur_state)
    
    for year in agg_years_list:
        cur_year = cur_state+year+'/'
        agg_files = os.listdir(cur_year)
        
        for file in agg_files:
            cur_file = cur_year+file
            d = open(cur_file,'r')
            P = json.load(d)

            for i in P['data']['pincodes']:
                pincode = i['name']
                registeredUsers = i['registeredUsers']
                
                columns['Pincode'].append(pincode)
                columns['Registered_Users'].append(registeredUsers)
                columns['Quarter'].append(int(file.strip('.json')))
                columns['Year'].append(int(year))
                columns['State'].append(state)
top_users = pd.DataFrame(columns)

In [19]:
top_users

                          State  Year  Quarter Pincode  Registered_Users
0     andaman-&-nicobar-islands  2018        1  744103              1608
1     andaman-&-nicobar-islands  2018        1  744101              1108
2     andaman-&-nicobar-islands  2018        1  744105              1075
3     andaman-&-nicobar-islands  2018        1  744102              1006
4     andaman-&-nicobar-islands  2018        1  744104               272
...                         ...   ...      ...     ...               ...
7849                west-bengal  2023        2  700015            117690
7850                west-bengal  2023        2  742304            114746
7851                west-bengal  2023        2  721101            114293
7852                west-bengal  2023        2  700150            110694
7853                west-bengal  2023        2  700091            110637

[7854 rows x 5 columns]

In [20]:
mydb = mysql.connect(host = 'localhost',user='root',password='Kishore@95')
mycursor = mydb.cursor()

In [21]:
mycursor.execute('CREATE DATABASE Phonepe')

In [22]:
mycursor.execute('SHOW databases')
mycursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('phonepe',),
 ('sys',),
 ('youtube_details',)]

In [23]:
mycursor.execute('Use Phonepe')

In [24]:
table1 = '''Create Table aggregate_transactions(
                        state VARCHAR(255),
                        year INT,
                        quarter INT,
                        transaction_type VARCHAR(255),
                        transactions_count INT,
                        transactions_amount DOUBLE
    )'''

table2 = '''Create Table aggregate_users(
                        state VARCHAR(255),
                        year INT,
                        quarter INT,
                        brand VARCHAR(255),
                        users_count INT,
                        percentage DOUBLE
    )'''

table3 = '''Create Table map_transactions(
                        state VARCHAR(255),
                        year INT,
                        quarter INT,
                        district VARCHAR(255),
                        transactions_count INT,
                        transactions_amount DOUBLE
    )'''

table4 = '''Create Table map_users(
                        state VARCHAR(255),
                        year INT,
                        quarter INT,
                        district VARCHAR(255),
                        registered_users INT,
                        app_opens INT
    )'''

table5 = '''Create Table top_transactions(
                        state VARCHAR(255),
                        year INT,
                        quarter INT,
                        pincode INT,
                        transactions_count INT,
                        transactions_amount DOUBLE
    )'''

table6 = '''Create Table top_users(
                        state VARCHAR(255),
                        year INT,
                        quarter INT,
                        pincode INT,
                        registered_users INT
    )'''
tables = [table1,table2,table3,table4,table5,table6]

for i in tables:
    mycursor.execute(i)

In [ ]:
mycursor.execute('Show tables')
mycursor.fetchall()

rows = list(agg_trans.itertuples(index=False, name=None))
for i in rows:
    query = 'INSERT INTO aggregate_transactions VALUES(%s,%s,%s,%s,%s,%s)'
    mycursor.execute(query,i)
    mydb.commit()
    
rows = list(agg_users.itertuples(index=False, name=None))
for i in rows:
    query = 'INSERT INTO aggregate_users VALUES(%s,%s,%s,%s,%s,%s)'
    mycursor.execute(query,i)
    mydb.commit()
    
rows = list(map_trans.itertuples(index=False, name=None))
for i in rows:
    query = 'INSERT INTO map_transactions VALUES(%s,%s,%s,%s,%s,%s)'
    mycursor.execute(query,i)
    mydb.commit()
    
rows = list(map_users.itertuples(index=False, name=None))
for i in rows:
    query = 'INSERT INTO map_users VALUES(%s,%s,%s,%s,%s,%s)'
    mycursor.execute(query,i)
    mydb.commit()
    
rows = list(top_trans.itertuples(index=False, name=None))
for i in rows:
    query = 'INSERT INTO top_transactions VALUES(%s,%s,%s,%s,%s,%s)'
    mycursor.execute(query,i)
    mydb.commit()

rows = list(top_users.itertuples(index=False, name=None))
for i in rows:
    query = 'INSERT INTO top_users VALUES(%s,%s,%s,%s,%s)'
    mycursor.execute(query,i)
    mydb.commit()